$color-error: #a94442;
$color-light-gray: #fafafa;

.login-wrapper {
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: $color-light-gray;
}

.chat-form {
  &__log-out-btn {
    margin-left: 7px;
    cursor: pointer;
  }

  &__error-text {
    color: $color-error;
    display: none;

    &--show {
      display: block;
    }
  }
}

.chat-list {
  margin: 0;
  padding: 5px 10px;

  &__item {
    list-style: none;
    word-wrap: break-word;
    margin: 5px 0 5px;

    &__datetime {
      color: #999;
      font-size: 0.9em;
      padding-right: 7px;
    }
  }

  &-wrapper {
    background-color: $color-light-gray;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
    overflow: auto;
    margin: 10px 0;
  }
}

.stats {
  &__common {
    list-style: none;
    padding-left: 0;
  }

  &__top {
    padding-left: 0;
    list-style-position: inside;
  }
}